<!-- footer -->
<footer class="footer container" role="contentinfo">
    <div class="row">

        <div class="social">

            <a href="https://twitter.com/zed" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/zed"
                target="_blank"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/zed" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <!-- copyright -->
        <p class="copyright">
            <a href="https://mixpanel.com/f/partner" style="padding-right: 15px;"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>            &copy; 2017 ZED, Inc
        </p>
        <!-- /copyright -->
    </div>
</footer>
<!-- /footer -->

</body>

</html>