

<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zed foundation">

    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />

    <link rel='stylesheet' id='bootstrap-css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css?ver=1.0'
        media='all' />
    
    <link rel='stylesheet' id='fontawesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=1.0'
        media='all' />
    <link rel='stylesheet' id='opensans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700&#038;ver=1.0'
        media='all' />
    <link rel='stylesheet' id='monserrat-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A700&#038;ver=1.0' media='all'
    />
    <link rel='stylesheet' id='normalize-css' href='normalize.css' media='all' />
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="home page-template page-template-template-demo page-template-template-demo-php page page-id-2">
    <!-- wrapper -->
    <!-- header -->
    <header class="header clear" role="banner">

        <div class='container'>

            <div class="logo col-sm-2 col-xs-9">
                <a href="/"><img src="/img/zed-logo.png" alt="Logo" class="logo-img"></a>
            </div>
            <!-- /logo -->
            <a href="/#" id="nav-toggle" class="toggle"></a>

            <!-- nav -->
            <nav class="nav col-sm-8 pull-right popup" role="navigation">
                <ul>
                    <li><a href="/#home">Zed Platform</a></li>
                    <li><a href="/#features">Zed Token Days</a></li>
                    <li><a href="/#works">Key Days</a></li>
                    <li><a href="/#team">Whitpaper</a></li>
                    <li><a href="#membership">About</a></li>
                    <li><a href="/#contact-us">Contact</a></li>
                </ul>
            </nav>

            <!-- /nav -->
        </div>
    </header>
    <!-- /header -->