{{ partial "header" . }}

<main role="main">
      {{ partial "sections/home.html" . }}
      {{ partial "sections/mtos.html" . }}
      {{ partial "sections/features.html" . }}
      {{ partial "sections/about.html" . }}
      {{ partial "sections/investors.html" . }}
      {{ partial "sections/partners.html" . }}
      {{ partial "sections/tokenSale1.html" . }}
      {{ partial "sections/tokenSale2.html" . }}
      {{ partial "sections/whitePaper.html" . }}
      {{ partial "sections/contact.html" . }}

</main>

{{ partial "footer" . }}