<section id="contact-us">
    <div class="container">
        <h1>Contact Us</h1>
        <p class="subtext">Questions, comments or feedback?</p>
        <div class="row">
            <div class="col-sm-4 block">

                <h4><strong>Email:</strong> <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f565159507f45564f455e4f11525a">[email&#160;protected]</a> </strong></h4>
                <h4><strong>Phone: </strong><strong> </strong><strong>+1(855) 978-5770 (US/Canada)</strong></h4>
                <h4><strong>                +44 75 4047 5775 (U.K.)</strong></h4>
                <h4><strong>                +1-415-408-7500 (other countries)<br /></strong></h4>

            </div>
            <div class="col-sm-8 block">
                <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/#wpcf7-f4-o1" method="post" class="wpcf7-form use-floating-validation-tip" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="4" />
                            <input type="hidden" name="_wpcf7_version" value="4.7" />
                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-o1" />
                            <input type="hidden" name="_wpnonce" value="590b070c25" />
                        </div>
                        <p id="cf_name">
                            <span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" /></span>                            </p>
                        <p id="cf_email">
                            <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email" /></span>                            </p>
                        <p>
                            <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="message"></textarea></span>                            </p>
                        <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" id="contact_submit" /></p>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>