<section id="mtos">
    <div class="container">
        <h1>ZED is build for money transfer operators (MTOs)</h1>
        <div class="row">
            <p class="col-md-4">
                ZED is compliance-solution enabling Money transfer operators to leverage leading blockchain technology to rapidly scale their
                Business.
            </p>
            <p class="col-md-4">
                ZED is compliance-solution enabling Money transfer operators to leverage leading blockchain technology to rapidly scale their
                Business.
            </p>
            <p class="col-md-4">
                ZED is compliance-solution enabling Money transfer operators to leverage leading blockchain technology to rapidly scale their
                Business.
            </p>
        </div>
    </div>

</section>