<section id="team">
            <div class="container">
                <h1>Our Partners</h1>
                <p class="subtext">The expers in the field.</p>
                <div class="row">
                    <div class="col-sm-3 block">
                        <img src="/img/ethereum-logo.png" />
                    </div>
                    <div class="col-sm-3 block">
                        <img src="/img/civic-logo.png" />
                    </div>
                    <div class="col-sm-3 block">
                        <img src="/img/logo-3.png" />
                    </div>
                    <div class="col-sm-3 block">
                        <img src="/img/idology-logo.png" />
                    </div>

                </div>
            </div>

        </section>