<section id="team">
            <div class="container">
                <h1>Our Team</h1>
                <p class="subtext">Meet the faces behind the company.</p>

                <div class="row">

                    <div class="col-sm-4 block">

                        <div class="member_img">
                            <img src="" />
                        </div>
                        <div class="member">
                            <h2>Alan<br/>Safahi</h2>
                            <h3>CEO</h3>

                            <a class="member_in" id="linkedin-alan" href='https://www.linkedin.com/in/safahi'><i class="fa fa-linkedin-square"></i></a>
                        </div>

                    </div>
                    
                </div>
            </div>

        </section>