<section id="works">
    <div class="container">
        <h1>Toekn Sale</h1>
        <p class="subtext">The zed platform is build on top of stellar platform with connectively to BTC and ELH methods of payment.
        </p>
        <div class="row">
            <h1>Total token supply: 38 BILLION (38,000,000,000) ZED of which</h1>
        </div>
        <div style="background: url(./img/ch.png);    background: url(./img/ch.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 385px;">
            <div class="row">
                <div class="col-sm-6 block">
                    <h2>37% is locked for futured sales & grouth</h2>
                </div>
                <div class="col-sm-6 block">
                    <h2>21% is sold in the token sale</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 block">
                    <h2>21% is allocated to developers, partners & commutiy</h2>
                </div>
                <div class="col-sm-6 block">
                    <h2>21% is retained by company</h2>
                </div>
            </div>
        </div>
        <p>Purchase method accepted: BTC, ELH</p>
    </div>
</section>